<div class="container text-center mt-5">
    <h2>Your Dashboard</h2>
    <form class="new-post">
        <div class="mb-3">
            <input type="text" class="form-control" name="title" id="title" placeholder="Title">
        </div>
        <div class="mb-3">
            <textarea class="form-control" name="text" id="text" rows="3" placeholder="Text"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-dark" id="create_post">Create Post</button>
    </form>
</div>
<script src="/js/dashboard.js"></script>